extends layout

block content
  div.jumbotron
    h1 Velkommen til STIHK!
    p Alt av trøndersk hockey, samlet på ett sted!
    p
      a.btn.btn-primary.btn-sm(role='button', href='/n/0') Les mer
  div.news
    p De fleste sidene krever nå innlogging, dette er grunnet personaliseringen av siden.
    p Man kan registrere seg og logge inn med facebook kontoen sin. Da tar det bare noen få sekunder.
    p Du kan følge dine (barns) lag, så får du kamper og treninger opp på samme side.
    p Siden er også tilpasset mobiler og nettbrett, for at man enkelt kan ha overskit.
    p Spillere, lagledere, dommere etc. har alle forskjell tilgang.
